mixin sorteio(s)
	.col.px-1.px-md-2.px-lg-3.mb-4.mb-xl-5
		.card.SORTEIO(id=s.ID class=s.poste?"SORTEIO--DESTAQUE":"")
			.card-header.SORTEIO__CABECALHO
				.CABECALHO__ITEM.CABECALHO__ITEM--GRANDE.SORTEIO__EXTRACAO(class=s.poste?"bg-info text-light border-primary":"border-info")= s.extracao
				//- button.btn.btn-outline-primary.SORTEIO__BTN(type='button') Imprimir
			.card-body.SORTEIO__RESULTADO
				each premio, i in s.resultado
					+premio(premio, i)