extends layout
include includes/erro.pug

block header
	+topmid()
block content
	case status
		when 408
			+erro(status, message, error.stack, "fill")
		when 404
			+erro(status, message, error.stack, "outline")
		when 503
			+erro(status, message, error.stack, "outline")
		default
			+erro(status, message, error.stack)

block iconesRights
	+citeRights([["Freepik", "https://www.flaticon.com/authors/freepik"]])