extends layout
include includes/extracao.pug
include includes/premio.pug

block content
	.container-fluid.AD
		h2.h1 
	.container-fluid.px-0.px-md-3.EXTRACOES
		.row.no-gutters.row-cols-1.row-cols-md-2.row-cols-xl-3
			each item in extracoes
				+extracao(item)
	.container-fluid.bg-dark
		.row.paginacao.justify-content-end.justify-content-sm-center
			nav(aria-label='Páginas extrações')
				ul.pagination.mb-2
					if paginas[0]
						li.page-item
							a.page-link(href=paginas[0] aria-label='Anterior')
								span(aria-hidden='true') &laquo;
								span.sr-only Anterior
					else
						li.page-item.disabled
							span.page-link &laquo;
							span.sr-only Anterior
					each pagina, i in paginas
						if pagina
							li.page-item
								a.page-link(href=pagina)= i+1
						else
							li.page-item.active
								span.page-link= i+1
									span.sr-only (atual)
					if paginas[paginas.length-1]
						li.page-item
							a.page-link(href=paginas[paginas.length-1] aria-label='Próxima')
								span(aria-hidden='true') &raquo;
								span.sr-only Próxima
					else
						li.page-item.disabled
							span.page-link &raquo;
							span.sr-only Próxima


	#MODAL.modal.fade(tab-index="-1" role="dialog" aria-labelledby='ModalTitulo' aria-hidden='true')
		.modal-dialog(role='document')
			.modal-content.SORTEIO
				.modal-header.SORTEIO__CABECALHO
					#MODAL__TITULO.CABECALHO__ITEM
					.SORTEIO__EXTRACAO
					button.close(type="button" data-dismiss='modal' aria-label='Fechar')
						span(aria-hidden='true') &times;
				.modal-body.p-0
				.modal-footer.SORTEIO__RODAPE
					.RODAPE__ITEM.SORTEIO__DATA
					.RODAPE__ITEM.btn-group(role='group' aria-label='modal sorteio opções')
						//- a.btn.btn-outline-primary.SORTEIO__BTN.SORTEIO__BTN--PRINT(role='button' href='') Imprimir
						button.btn.btn-outline-secondary.SORTEIO__BTN(type='button' data-dismiss='modal') Fechar

append scripts
	script(src='/javascripts/extracoes.js')