extends layout
include includes/extracao.pug
include includes/premio.pug

block content
	.container-fluid.container-ad
		h2.h1 PROPAGANDA
	.container-fluid.px-0.px-md-3.container-sorteios
		.row.no-gutters.row-cols-1.row-cols-md-2.row-cols-xl-3
			each item in extracoes
				+extracao(item)
				
	.container-fluid.bg-dark
		.row.paginacao.justify-content-end.justify-content-sm-center
			nav(aria-label='Páginas extrações')
				ul.pagination.mb-2
					if paginas[0]
						li.page-item
							a.page-link(href=paginas[0] aria-label='Anterior')
								span(aria-hidden='true') &laquo;
								span.sr-only Anterior
					else
						li.page-item.disabled
							span.page-link &laquo;
							span.sr-only Anterior
					each pagina, i in paginas
						if pagina
							li.page-item
								a.page-link(href=pagina)= i+1
						else
							li.page-item.active
								span.page-link= i+1
									span.sr-only (atual)
					if paginas[paginas.length-1]
						li.page-item
							a.page-link(href=paginas[paginas.length-1] aria-label='Próxima')
								span(aria-hidden='true') &raquo;
								span.sr-only Próxima
					else
						li.page-item.disabled
							span.page-link &raquo;
							span.sr-only Próxima


	#Modal.modal.fade(tab-index="-1" role="dialog" aria-labelledby='ModalTitulo' aria-hidden='true')
		.modal-dialog(role='document')
			.modal-content
				.modal-header.d-flex.align-items-center
					h5#ModalTitulo.modal-title.sorteio-banca
					h6.sorteio-extracao.text-monospace.ml-auto.p-1.mb-0.rounded.border.border-secondary
					button.close(type="button" data-dismiss='modal' aria-label='Fechar')
						span(aria-hidden='true') &times;
				.modal-body.p-0
				.modal-footer
					span.border.py-1.px-2.sorteio-data.mr-auto.text-muted 03/07/1982
					a.btn.btn-primary.btn.px-1(role='button' href='') Imprimir
					button.btn.btn-secondary.btn.px-1(type='button' data-dismiss='modal') Fechar

append scripts
	script(src='/javascripts/extracoes.js')