extends layout
append head
	link(rel="stylesheet" href="/stylesheets/home.css")
block header
	+topmid()
block content
	.INTRODUCAO.px-sm-4.p-md-5.m-md-3
		.INTRODUCAO__CONTEUDO.col-md-6.px-sm-4.p-lg-5
			h1.INTRODUCAO__TITULO LoteZoo
			p.INTRODUCAO__TEXTO #[i A loteria do bicho] online e moderna para consultar fácil o resultado diário do Jogo do Bicho.</p>
			a.INTRODUCAO__BTN.btn.btn-primary.btn-lg.active(href="/resultados") Acessar agora
		.INTRODUCAO__LP Não realizamos apostas
		.INTRODUCAO__REL
		.INTRODUCAO__REL.INTRODUCAO__REL--GS.d-md-block

	.d-md-flex.flex-md-equal.w-100.my-md-3.pl-md-3
		.bg-primary.mr-md-3.pt-3.px-3.pt-md-5.px-md-5.text-center.text-white.overflow-hidden
			.my-3.py-3
				h2.display-5 Use como um aplicativo
				p.lead Adicione a tela inicial do seu celular
			.product-device.bg-dark.shadow-sm.mx-auto(style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;")
				.device-app
		.bg-light.mr-md-3.pt-3.px-3.pt-md-5.px-md-5.text-center.overflow-hidden
			.my-3.p-3
				//- h2.display-5 Another headline
				p.lead.text-wrap Abra o menu de opções do seu navegador e selecione a opção para salvar
			.product-device.bg-dark.shadow-sm.mx-auto(style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;")

block footer
	.row.no-gutters.justify-content-center.p-2
		blockquote.blockquote.text-center.text-muted.note
			block iconesRights
				+citeRights([["Freepik", "https://www.flaticon.com/authors/freepik"]])