extends layout
prepend head
	meta(name='description' content='A loteria do bicho moderna e busca fácil contando com a maioria das bancas do Brasil. Extrações em tempo real e consultas por data')
append styles
	link(rel="stylesheet" href="/stylesheets/home.css")
block header
	+topmid()
block content
	.INTRODUCAO
		.INTRODUCAO__CONTEUDO.col-md-6
			h1.INTRODUCAO__TITULO LoteZoo
			p.INTRODUCAO__TEXTO #[i A loteria do bicho] online e moderna para fácil consulta do resultado diário do Jogo do Bicho.</p>
			a.INTRODUCAO__BTN.btn.btn-primary.btn-lg.active(href="/resultados") Acessar agora
		.INTRODUCAO__LP Não realizamos apostas
		.INTRODUCAO__REL
		.INTRODUCAO__REL.INTRODUCAO__REL--GS.d-md-block

	.TOPICO
		.TOPICO__CEL
			.TOPICO__TEXTO
				h2 Use como um aplicativo
				p.TOPICO__DESC Adicione à sua tela inicial
			.CEL
				.CEL__TELA
					.TELA__FAKE
					#ICONE.TELA__ICONE
		.TOPICO__CEL
			.TOPICO__TEXTO
				h2 Abra seu navegador
				p.TOPICO__DESC Selecione a seguinte opção
			.CEL
				.CEL__TELA
					.TELA__FAKE.TELA__FAKE--NAV(data-url=url)
						#OPCOES.FAKE__OPCOES Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum unde dicta assumenda placeat consectetur nihil cumque.
					.TELA__SITE


block iconesRights
	+citeRights([["Freepik", "https://www.flaticon.com/authors/freepik"]])

block scripts
	script(src='/dist/jquery.min.js')
	script(src='/js/bootstrap.bundle.min.js')
	script(src='/javascripts/home.js')