extends layout
append styles
	link(rel="stylesheet" href="/stylesheets/home.css")
block header
	+topmid()
block content
	.INTRODUCAO
		.INTRODUCAO__CONTEUDO.col-md-6
			h1.INTRODUCAO__TITULO LoteZoo
			p.INTRODUCAO__TEXTO #[i A loteria do bicho] online e moderna para fácil consulta do resultado diário do Jogo do Bicho.</p>
			a.INTRODUCAO__BTN.btn.btn-primary.btn-lg.active(href="/resultados") Acessar agora
		.INTRODUCAO__LP Não realizamos apostas
		.INTRODUCAO__REL
		.INTRODUCAO__REL.INTRODUCAO__REL--GS.d-md-block

	.TOPICO
		.TOPICO__CEL
			.TOPICO__TEXTO
				h2 Use como um aplicativo
				p.TOPICO__DESC Adicione a sua tela inicial
			.CEL
				.CEL__TELA
					.TELA__FAKE
					.TELA__ICONE
		.TOPICO__CEL
			.TOPICO__TEXTO
				h2 Abra seu navegador
				p.TOPICO__DESC Selecione a seguinte opção
			.CEL
				.CEL__TELA
					.TELA__FAKE.TELA__FAKE--NAV
						.FAKE__OPCOES Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum unde dicta assumenda placeat consectetur nihil cumque. Assumenda optio, unde quis culpa laudantium fuga eius, quo delectus perferendis corrupti voluptate expedita!
					.TELA__SITE

block footer
	.row.no-gutters.justify-content-center.p-2
		blockquote.blockquote.text-center.text-muted.note
			block iconesRights
				+citeRights([["Freepik", "https://www.flaticon.com/authors/freepik"]])