doctype html
include includes/top.pug
include includes/icones.pug
html(lang='pt-br')
	head
		block head
			meta(charset='utf-8')
			meta(name='viewport' content='width=device-width, initial-scale=1')
			title= title
			//- favicons
			link(rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon.png")
			link(rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png")
			link(rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png")
			link(rel="manifest" href="/images/favicons/site.webmanifest")
			link(rel="mask-icon" href="/images/favicons/safari-pinned-tab.svg" color="#a34f3e")
			link(rel="shortcut icon" href="/images/favicons/favicon.ico")
			meta(name="msapplication-TileColor" content="#00aba9")
			meta(name="msapplication-config" content="/images/favicons/browserconfig.xml")
			meta(name="theme-color" content="#ffffff")
			block styles
				//- styles
				link(rel='stylesheet' href='/css/bootstrap.min.css')
				link(href="https://fonts.googleapis.com/css?family=Baloo+Da+2|Muli&display=swap" rel="stylesheet")
				link(rel='stylesheet' href='/stylesheets/style.css')
	body.text-body.bg-light
		header
			block header
				nav.navbar.navbar-expand-sm.fixed-top.navbar-dark
					h1.navbar-brand.brand LoteZoo
						small.slogan A loteria do bicho
						a.stretched-link.text-reset(href='/')
					button.navbar-toggler.navbar-banca(type='button' data-toggle='collapse' data-target='#topNav' aria-controls='topNav' aria-expanded='false' aria-label='Procurar menu')
						span.navbar-toggler-icon.navbar-banca-icone
					#topNav.collapse.navbar-collapse.mt-2.mt-sm-0
						.dropdown.mr-sm-auto
							form#procurar(action="" method="" autocomplete="off" spellcheck="false")
								input#procurar-data(type="hidden")
								input#procurar-campo.form-control(type='text' value="" placeholder='Banca Extração Grupo...' aria-label='Procurar')
								#procurar-menu.dropdown-menu.dropdown-procurar.shadow-sm
		main(role='main')
			block content
		footer.bg-dark
			block footer
				.row.no-gutters.justify-content-center.p-2
					blockquote.blockquote.text-center.text-muted.note
						block iconesRights
							+citeRights([ ["Freepik", "https://www.flaticon.com/authors/freepik"], ["monkik", "https://www.flaticon.com/authors/monkik"], ["Smashicons", "https://www.flaticon.com/authors/smashicons"], ["photo3idea_studio", "https://www.flaticon.com/authors/photo3idea-studio"] ])
		block scripts
			script(src='/dist/jquery.min.js')
			script(src='/js/bootstrap.bundle.min.js')
			script(src='/fuse.js')
			script(src='/javascripts/main.js')
