doctype html
html(lang='pt-br')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body.text-body.bg-light
    header
      block header
        nav.navbar.fixed-top.navbar-dark.bg-dark.mr-auto
          a.navbar-brand(href='/') DeuNoPoste
    main(role='main')
      block content
    block scripts
      script(src='/dist/jquery.slim.min.js')
      script(src='/umd/popper.min.js')
      script(src='/js/bootstrap.min.js')
    
