.PAGINA {
	position: relative;
	cursor: default;
	overflow: hidden;
	width: 51rem;
	height: 66rem;
	margin: 0 auto 2rem auto;
	font-family: 'Muli', sans-serif;
	background-color: white;
}
.PAGINA__CABECALHO,
.PAGINA__RODAPE {
	min-height: 6rem;
	max-height: 26.4rem;
}
.PAGINA__CABECALHO,
.PAGINA__CONTEUDO,
.PAGINA__RODAPE {
	position: absolute;
	left: 0;
	width: 100%;
	padding-left: 3rem;
	padding-right: 3rem;
}
.PAGINA__CABECALHO {
	display: flex;
	align-items: center;
	justify-content: space-around;
	top: 0;
	padding-top: 1rem;
}
.PAGINA__CONTEUDO {
	top: 50%;
	transform: translateY(-50%);
	max-height: 54rem;
}
.PAGINA__RODAPE {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	bottom: 0;
	padding-bottom: 2rem;
	font-family: 'Roboto Slab', serif;
}

.TABELA {
	width: auto;
	font-size: 1rem;
}
.TABELA__PREMIO td {
	font-size: 1.2em;
}
.TABELA__ITEM {
	vertical-align: middle !important;
}
.TABELA__ITEM--MILHAR {
	font-size: 1.3em !important;
	letter-spacing: 0.2rem;
	font-weight: 600;
}
.TABELA__ITEM--ZOO {
	text-align: right;
}
.TABELA__ITEM--ZOO img {
	width: 2rem;
	height: auto;
	user-select: none;
}
.TABELA__TITULO{
	color: #6c757d;
}

.IMPRESSAO {
	display: flex;
	justify-content: space-around;
	align-items: baseline;
	font-size: 1.2rem;
	padding: 1.5em 0 2em 0;
}

.IMPRESSAO__NAV {
	flex: 1;
	max-width: 80%;
	display: inline-flex;
}
.IMPRESSAO__MENU {
	flex: 1;
}
.IMPRESSAO__BTN {
	min-width: 5em;
}
#PRINT {
	right: 3em;
}
.IMPRESSAO__MENU {
	padding: auto .2em;
}