@media print {
	.container {
		width: auto;
	}
	body * {
		visibility: hidden !important;
	}
	.PAGINA * {
		visibility: visible !important;
	}
	.PAGINA {
		position: absolute !important;
		top: 1em;
		left: 0;
		font-size: 140%;
	}
}
.PAGINA {
	position: relative;
	cursor: default;
	overflow: hidden;
	width: 51em;
	height: 66em;
	margin: 0 auto 2em auto;
	font-family: 'Muli', sans-serif;
	background-color: white;
}
.PAGINA__CABECALHO,
.PAGINA__RODAPE {
	min-height: 6em;
	max-height: 26.4em;
}
.PAGINA__CABECALHO,
.PAGINA__CONTEUDO,
.PAGINA__RODAPE {
	position: absolute;
	left: 0;
	width: 100%;
	padding-left: 3em;
	padding-right: 3em;
}
.PAGINA__CABECALHO {
	display: flex;
	align-items: center;
	justify-content: space-around;
	top: 0;
	padding-top: 1em;
}
.CABECALHO__BRAND {
	display: inline-flex;
	align-items: center;
}
.BRAND__IMG {
	width: 3em;
	height: 3em;
}
.BRAND__TITULO {
	font-size: 1.4em;
	padding-left: 0.3em;
}
.CABECALHO__TITULO {
	font-size: 1.7em;
	text-decoration: underline;
}
.CABECALHO__TITULO--SUB {
	font-size: 1.3em;
}
.PAGINA__CONTEUDO {
	max-height: 54em;
	display: flex;
	justify-content: center;
}
.PAGINA__CONTEUDO--MID {
	top: 50% !important;
	transform: translateY(-50%);
}
.PAGINA__RODAPE {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	bottom: 0;
	padding-bottom: 2em;
	font-family: 'Roboto Slab', serif;
}
.RODAPE__ITEM {
	display: inline-flex;
	justify-content: space-around;
	align-items: baseline;
	font-size: 1.1rem;
}
.RODAPE__SORTEIO {
	font-size: 1.2em;
}
.TABELA {
	width: auto;
	font-size: 1em;
	margin: 0;
}
.TABELA__PREMIO td {
	font-size: 1.2em;
}
.TABELA__ITEM {
	vertical-align: middle !important;
}
.TABELA__ITEM--MILHAR {
	font-size: 1.3em !important;
	letter-spacing: 0.2em;
	font-weight: 600;
}
.TABELA__ITEM--ZOO {
	text-align: right;
}
.TABELA__ITEM--ZOO img {
	width: 2em;
	height: auto;
	user-select: none;
}
.TABELA__TITULO {
	color: #6c757d;
}

.IMPRESSAO {
	display: flex;
	justify-content: space-around;
	align-items: baseline;
	font-size: 1.2rem;
	padding: 1.5em 0 2em 0;
}

.IMPRESSAO__NAV {
	flex: 1;
	max-width: 80%;
	display: inline-flex;
}
.IMPRESSAO__MENU {
	flex: 1;
}
.IMPRESSAO__BTN {
	min-width: 5em;
}
#PRINT {
	right: 3em;
}
.IMPRESSAO__MENU {
	padding: auto 0.2em;
}
