main {
    padding-top: 4rem;
}
.sorteio-premio {
    padding: .2rem 0;
}
.sorteio-milhar {
    margin: 0;
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: .2rem;
}
.sorteio-data {
    font-size: .9rem;
    border-color: #ccc;
}