:root {
	--cinza-escuro: #c2c3c4;
	--cinza: #eceff1;
	--cinza-claro: #eceef0;

	--header-height: 3.5rem;
}
body {
	font-family: 'Baloo Da 2', cursive;
}
main {
	min-height: calc(100vh - var(--header-height));
}
header {
	height: var(--header-height) !important;
}
.navbar-brand {
	font-size: 1.4rem;
}
.brand {
	position: relative;
	padding: 0 1rem 0 3rem;
	height: 2.5rem;
	margin: 0;
	/* text-transform: uppercase; */
}
.brand::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 2.5rem;
	height: 2.5rem;
	background-image: url('/images/zoo.svg');
	background-size: 100%;
}
.slogan {
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: 0.7rem;
}
.navbar-banca {
	background-color: rgba(255, 255, 255, 0.1);
}
.navbar-banca-icone {
	background-image: url('/images/procurar.svg') !important;
}
#topNav .dropdown {
	max-width: 350px;
	min-width: 280px;
}

.searchable:focus {
	border-color: var(--green);
	background-color: white;
	padding-right: calc(1.5em + 0.75rem);
	background-repeat: no-repeat;
	background-position: right calc(0.375em + 0.1875rem) center;
	background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
	box-shadow: 0 0 0 0.2rem rgba(80, 172, 44, 0.25);
}
.unsearchable:focus {
	border-color: #dc3545;
	padding-right: calc(1.5em + 0.75rem);
	background-repeat: no-repeat;
	background-position: right calc(0.375em + 0.1875rem) center;
	background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
	box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}
.dropdown-procurar {
	width: 100%;
	background-color: var(--light);
	margin-top: 0;
}
.dropdown-item {
	height: 3em;
}
.procurar-item {
	position: relative;
	background-color: white;
	border-top: 1px solid var(--cinza);
	padding: 0.2rem 2rem 0.2rem 1rem;
	line-height: 1.2;
	cursor: default;
	user-select: none;
}
.procurar-item:last-child {
	border-bottom: 1px solid var(--cinza);
}
.procurar-item::after {
	content: '';
	position: absolute;
	right: 0.5rem;
	top: 0.3rem;
	width: 1.5rem;
	height: 1.5rem;
	background-size: 100%;
}
.item-banca::after {
	background-image: url('/images/banca32.png');
}
.item-extracao::after {
	background-image: url('/images/extracao32.png');
}
.item-extracao::before {
	content: attr(data-content);
	position: absolute;
	right: 0.5rem;
	top: 1.7rem;
	color: var(--secondary);
}
.busca-info {
	display: flex;
	width: 100%;
	flex-flow: row wrap;
	padding-top: 0.1rem;
}
.busca-el {
	padding: 0 0.2rem;
}
.nav-scroller {
	position: relative;
	z-index: 2;
	overflow-y: hidden;
}
.nav-scroller .nav {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	padding-bottom: 1rem;
	margin-top: -1px;
	overflow-x: auto;
	text-align: center;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
}
.container-ad {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 200px;
}
.container-sorteios {
	padding-top: 2rem;
}
.sorteios {
	padding-bottom: 2rem;
}
.border-cinza,
.page-link {
	border-color: var(--cinza-escuro);
}
.sorteio {
	border-width: 2px;
	color: var(--info);
	font-size: 1.2rem;
}
.sorteio-banca,
.sorteio-extracao {
	font-size: 1em;
	font-weight: 600;
}
.sorteio-opt {
	font-size: 0.9em;
}
.bg-striped {
	background-color: var(--cinza-claro);
	background-image: linear-gradient(
		45deg,
		rgba(255, 255, 255, 0.15) 25%,
		transparent 25%,
		transparent 50%,
		rgba(255, 255, 255, 0.15) 50%,
		rgba(255, 255, 255, 0.15) 75%,
		transparent 75%,
		transparent
	);
	background-size: 1rem 1rem;
}
.sorteio-premio {
	padding: 0.4rem 0;
}
.premio-num {
	background-color: var(--light);
	padding: 0.1rem 0.3rem;
	margin-right: 1rem;
	font-weight: 400;
	user-select: none;
}
.premio-milhar {
	margin: 0;
	font-size: 1.4em;
	letter-spacing: 0.2rem;
}
.grupo-num {
	font-size: 1.2em;
}
.grupo-img {
	width: 2.5rem;
	height: auto;
	user-select: none;
}
.grupo-nome {
	color: var(--gray-dark);
	font-size: 1em;
}
.sorteio-data {
	font-size: 0.9em;
	border-color: #ccc;
}
.paginacao {
	padding: 2rem 3rem;
	font-size: 1.1rem;
}
.pagination {
	border: 1px solid var(--gray);
}
.note {
	font-size: 0.9rem;
	margin-bottom: 0;
}
#Modal {
	color: var(--gray-dark);
	font-family: 'Muli', sans-serif;
	font-size: 1.2rem;
}
#ModalTitulo {
	font-size: 1em;
}

/* #data {
	position: relative;
	max-width: 350px;
	min-width: 280px;
	margin-left: auto;
	margin-right: auto;
} */
.data-abbr {
	font-weight: 600;
	text-decoration: underline;
}
.data-abbr,
.banca-data {
	font-size: 1.2rem;
}
#data-readonly {
	text-align: center;
	max-width: 18rem;
}
#data-readonly::-webkit-inner-spin-button,
#data-readonly::-webkit-calendar-picker-indicator {
	-webkit-appearance: none;
	display: none;
}
#data {
	max-width: 32rem;
}
#btnData:disabled {
	cursor: default;
}
.SORTEIO {
	max-width: 27rem;
	min-width: 19.5rem;
	margin-left: auto;
	margin-right: auto;
	border-color: var(--cinza-escuro);
	border-width: 2px;
	color: var(--info);
	font-size: 1.2rem;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.SORTEIO--DESTAQUE {
	border-color: var(--info);
}
.SORTEIO__CABECALHO {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	padding: 0.6em 0.8em;
}
.CABECALHO__ITEM {
	display: inline-block;
	font-size: 1em;
	font-weight: 600;
}
.CABECALHO__ITEM--DIREITA {
	margin-left: auto;
}
.SORTEIO__EXTRACAO {
	font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
		'Courier New', monospace;
	color: inherit;
	padding: 0.25em;
	border-radius: 0.25em;
	border: 1px solid var(--info);
}
.SORTEIO__RESULTADO {
	padding: 0;
	font-weight: 700;
	color: var(--purple);
}
.SORTEIO__RODAPE {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	padding: 0.6em 0.8em;
	color: #6c757d;
}
.RODAPE__ITEM {
	display: inline-block;
	font-size: 1em;
}
.SORTEIO__BTN {
	padding: .2em .4em;
	font-size: 1em;
	line-height: 1.5;
	border-radius: .2em;
}
.PREMIO {
	height: 3.5rem;
	font-size: 1.2rem;
	padding-right: 1rem;
	padding-left: 1rem;
	display: flex;
	align-items: center;
	border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.PREMIO:last-child {
	border-bottom-width: 0;
}
.PREMIO--STRIPED {
	background-color: var(--cinza-claro);
	background-image: linear-gradient(
		45deg,
		rgba(255, 255, 255, 0.15) 25%,
		transparent 25%,
		transparent 50%,
		rgba(255, 255, 255, 0.15) 50%,
		rgba(255, 255, 255, 0.15) 75%,
		transparent 75%,
		transparent
	);
	background-size: 1rem 1rem;
}
.PREMIO__MILHAR {
	display: inline-flex;
	align-items: center;
	min-width: 6.5em;
	max-width: 7.5em;
	flex: 1;
}
.PREMIO__GRUPO {
	display: inline-flex;
	align-items: center;
	flex: 1;
}
.MILHAR__NUM {
	font-size: 1.5em;
	letter-spacing: 0.15em;
	margin-left: auto;
}
.MILHAR__POS {
	padding: 0 0.4em;
	font-size: 1.1em;
	font-weight: 400;
	color: #6c757d;
	user-select: none;
	border: 1px solid #dee2e6;
	background-color: var(--light);
}
.GRUPO__IMG {
	width: 2.3em;
	height: auto;
	user-select: none;
	margin-left: auto;
	margin-right: auto;
}
.GRUPO__NUM {
	margin-left: auto;
	display: inline-block;
	color: var(--gray-dark);
	font-size: 1.2em;
	padding: 0 0.5em;
}
