body {
	font-family: 'Baloo Da 2', cursive;
}
main {
	padding-top: 3rem;
}
.navbar-banca-icone {
    background-image: url('/images/banca.svg') !important;
}
.sorteios {
    font-family: 'Muli', sans-serif;
}
.sorteio {
	color: var(--info);
}
.sorteio-resultado {
	font-weight: 700;
	color: var(--purple);
}
.sorteio-premios {
	padding: 0.4rem 0;
}
.sorteio-milhar {
	margin: 0;
	font-size: 1.35rem;
	letter-spacing: 0.2rem;
}
.grupo-img {
	width: 2rem;
	height: auto;
	user-select: none;
}
.grupo-nome {
	color: var(--gray-dark);
}
.sorteio-data {
	font-size: 0.9rem;
	border-color: #ccc;
}
.note {
	font-size: 0.9rem;
	margin-bottom: 0;
}
